    <header>
        <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br>
                                2290-21-7554 - PORTAFOLIO</h1>
        <img src="../images/foto.jpeg" alt="Imagen" class="img-header">
    </header>
