    <nav class="nav-vertical">
        <ul>
            <a class="btn primary full" href="/contacto"> CONTACTO </a>
            <a class="btn primary full" href="/objetivos"> OBJETIVOS</a>
            <a class="btn primary full" href="/Proyectoss"> PROYECTOS</a>
        </ul>
    </nav>