<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

{{> header}}


          </div>

             <h1 class="titulo11">Analizador Lexico C++</h1>

             <p class="descripcion11"> El desarrollo del siguiente analizador léxico fue realizado con Visual Studio C++<br> 
                el analizador es una herramienta para el proceso de análisis de lenguaje de programación y procesamiento de texto<br>
                su principal función es la de transformar una serie de caracteres como se puede apreciar en la pantalla y pasarlo <br>
                a una secuencia de tokens que puede ser manejado de manera fácil por otro analizador que sería el analizador sintáctico.<br>
             </p>

             <a class="analizador-1">
                <img src="./images/analizador2.png" alt="imagen" class="imagen-estilo"></a>

                <iframe class="videoY" width="560" height="315" src="https://www.youtube.com/embed/cmfW7Ffhdvw?si=qFFijvT3jcLEb6xJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://github.com/DanielOrlandoMV/Analizador-L-xico.git" class="REP-1" target="_blank">REPOSITORIO</a>
                
                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR </a>

               </body>

               

{{> footer}}
         
</html>