<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>


   <body>


{{> header}}

            <div>

             <h1 class="titulo44">CALCULADORA</h1>

             <p class="descripcion44"> Esta calculadora desarrollada en JAVA cuenta cuatro botones que se enfocan a las cuatro operaciones principales<br> 
                en todas las calculadora la suma, resta, multiplicaci칩n y divisi칩n se ingresaran 2 datos a operar en diferentes TextBox<br>
                cuenta con un espacio donde se mostraran los resultados.<br>
                Adem치s de contar con el bot칩n de limpiar que eliminara cualquier dato aun visible en los TextBox.
             </p>
            </div>

             <a class="analizador-1">
               <img src="./images/calculadora.jpg" alt="imagen" class="imagen-estilo"></a>

               <iframe class="videoY" width="560" height="315" src="https://www.youtube.com/embed/gELwquVfry8?si=xaIsCtffBraViUKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR </a>
                <a href="https://github.com/DanielOrlandoMV/Calculadora.git" class="REP-1" target="_blank">REPOSITORIO</a>

      

{{> footer}}
          
   </body>
</html>