<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>
   <header>
      <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br> PORTAFOLIO</h1>

      <img src="./images/foto.jpeg" class="img-header">
   </header>

   <body>
            <div>

             <h1 class="titulo00">CALCULADORA</h1>

             <p class="descripcion"> Esta calculadora desarrollada en JAVA cuenta cuatro botones que se enfocan a las cuatro operaciones principales<br> 
                en todas las calculadora la suma, resta, multiplicaci칩n y divisi칩n se ingresaran 2 datos a operar en diferentes TextBox<br>
                cuenta con un espacio donde se mostraran los resultados.<br>
                Adem치s de contar con el bot칩n de limpiar que eliminara cualquier dato aun visible en los TextBox.
             </p>
            </div>

             <a class="analizador-1">
               <img src="./images/calculadora.jpg" alt="imagen" class="imagen-estilo"></a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR </a>
                <a href="https://github.com/DanielOrlandoMV/Calculadora.git" class="REP-1" target="_blank">REPOSITORIO</a>

      

                <footer>
                  <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
                      Todos los derechos reservados.</p>
              </footer>
          
   </body>
</html>