<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/contact.css">
    <title>Contacto</title>
        {{> header}}
</head>
<body>

    {{!-- <header>
        <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br>
                                PORTAFOLIO</h1>
        <img src="./images/foto.jpeg" alt="Imagen" class="img-header">
    </header> --}}

    <h1 class="tituloContacto">CONTACTAME</h1><br><br><br><br><br>
           
    <p class="descripcionContacto">
        Como estudiante de Ingenieria en Sistemas de informacion y Ciencias de la Computacion <br>
        Me gustaria poder desempeñarme en labores que amplien mis conocimientos y habilidades <br><br>
        Cel: 502-4534<br><br><br>
        Correo: danielorlandomv@gmail.com <br><br><br><br>
        Git-Hub: <a href="https://github.com/DanielOrlandoMV" target="_blank">Direccion de repositorio</a>.
     </p>

     <a href="/" class="proyects">INICIO</a>


{{> footer}}

</body>
</html>