<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Imagen, Barras y Tabla</title>
    <link rel="stylesheet" href="./CSS/style.css">
    {{> header}}
</head>
<body>

{{> navbar}}
    <!-- Contenido principal -->
    <main>
        <section class="contenido">
            <p>Hola, me presento soy Daniel Orlando un estudiante de ingenieria de sistemas, atualmente me encuentro realizando mis practicas en una empresa como PO. <br><br> 
            En esta ocacion tengo la oportunidad de presentar lo que es mi portafolio, donde podra encontrar mis habilidades, contactos y lo mas importante algunos de mis proyectos, esto para comprender mis habilidades, espero le sea de su agrado. <br>
                <br>Para empezar me gustaria comentar de manera general que me entusiasma la idea de tener una oportunidad de seguir creciendo de manera profesional, y personalmente enfrentarme a nuevos desafíos que me permitan contribuir activamente al éxito de su equipo.<br><br>
                    Me especializado en el area de la informatica me gradue de bachiller en computación, ademas de contar con un tecnico en computacion, tener certificados de lenguages de programación como en CISCO, actualmente estoy ampliando mis conocimientos al estudiar una Ingenieria en sistemas de información y ciencias de la computación
                    lo que me a ayudado a extender mis conocimientos y comprender de mejor manera como es el entorno al que me deseo dedicar</p>

                <p class="habilidad"> SKILLS</p>
            <!-- Barras de progreso -->
            <div class="progress-bar">
                <label for="progreso1">C++</label>
                <progress id="progreso1" value="70" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso2">JAVA</label>
                <progress id="progreso2" value="60" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">HTML - CSS</label>
                <progress id="progreso3" value="85" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">MATLAB</label>
                <progress id="progreso3" value="60" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">PYTHON</label>
                <progress id="progreso3" value="70" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">SO</label>
                <progress id="progreso3" value="90" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">OFFICE</label>
                <progress id="progreso3" value="90" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">SOPORTE DE COMPUTADORAS</label>
                <progress id="progreso3" value="95" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">FIGMA</label>
                <progress id="progreso3" value="75" max="100"></progress>

            </div>
            <div class="progress-bar">
                <label for="progreso3">AZURE</label>
                <progress id="progreso3" value="55" max="100"></progress>

            </div>

            <!-- Tabla -->

                
            <div class="tabla">
               <table>
                   <thead>
                        <tr>
                           <th>Habilidades Tecnicas</th>
                           <th>Habilidades Blandas</th>
                       </tr>
                    </thead>
                   <tbody>
                       <tr>
                           <td>C++</td>
                           <td>Resolucion de problemas</td>
                       </tr>
                           <tr>
                           <td>SQL Server</td>
                           <td>Auto disciplina</td>
                       <tr>
                           <td>Java</td>
                           <td>Puntualidad</td>
                       </tr>
                       <tr>
                           <td>HTML y CSS</td>
                           <td>Trabajo en Equipo</td>
                           </tr>
                       </tr>
                       <tr>
                           <td>Matlab</td>
                           <td>Documentación</td>
                       </tr>
                       <tr>
                           <td>Python</td>
                           <td>Adaptabilidad</td>
                       </tr>
               </table>
            </div>
        </section>

    </main>

{{> footer}}

</body>
</html>
