<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Imagen, Barras y Tabla</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>

    <!-- Header -->
    <header>
        <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br>
                                PORTAFOLIO</h1>
        <img src="./images/foto.jpeg" alt="Imagen" class="img-header">
    </header>

    <nav class="nav-vertical">
        <ul>
            <a class="btn primary full" href="/contacto"> CONTACTO </a>
            <a class="btn primary full" href="/objetivos"> OBJETIVOS</a>
            <a class="btn primary full" href="/Proyectoss"> PROYECTOS</a>
        </ul>
    </nav>

    <!-- Contenido principal -->
    <main>
        <section class="contenido">
            <p>Hola, me presento soy Daniel Orlando un estudiante de ingenieria de sistemas, en esta ocacion tengo la oportunidad de presentar lo que es mi portafolio, donde podra encontrar mis habilidades, contatos y lo mas importante proyectos que e realizado, espero le sea de su agrado. <br>
                <br>Me entusiasma la oportunidad de seguir creciendo profesional y personalmente en nuevos desafíos que me permitan contribuir activamente al éxito de su equipo.</p>

                <p class="habilidad"> HABILIDADES</p>
            <!-- Barras de progreso -->
            <div class="progress-bar">
                <label for="progreso1">C++</label>
                <progress id="progreso1" value="70" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso2">JAVA</label>
                <progress id="progreso2" value="60" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">HTML - CSS</label>
                <progress id="progreso3" value="85" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">MATLAB</label>
                <progress id="progreso3" value="60" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">PYTHON</label>
                <progress id="progreso3" value="70" max="100"></progress>

            </div>

            <div class="progress-bar">
                <label for="progreso3">SO</label>
                <progress id="progreso3" value="90" max="100"></progress>

            </div>

            <!-- Tabla -->

                
            <div class="tabla">
               <table>
                   <thead>
                        <tr>
                           <th>Habilidades Tecnicas</th>
                           <th>Habilidades Blandas</th>
                       </tr>
                    </thead>
                   <tbody>
                       <tr>
                           <td>C++</td>
                           <td>Resolucion de problemas</td>
                       </tr>
                           <tr>
                           <td>SQL Server</td>
                           <td>Auto disciplina</td>
                       <tr>
                           <td>Java</td>
                           <td>Puntualidad</td>
                       </tr>
                       <tr>
                           <td>HTML y CSS</td>
                           <td>Trabajo en Equipo</td>
                           </tr>
                       </tr>
                       <tr>
                           <td>Matlab</td>
                           <td>Documentación</td>
                       </tr>
                       <tr>
                           <td>Python</td>
                           <td>Adaptabilidad</td>
                       </tr>
               </table>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
            Todos los derechos reservados.</p>
    </footer>

</body>
</html>
