<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

   <header>
      <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br> PORTAFOLIO</h1>

      <img src="./images/foto.jpeg" class="img-header">
   </header>

             <h1 class="titulo00">Login con Correo</h1>

             <p class="descripcion">
                En el desarrollo de este formulario para el inicio de sesión en una universidad se priorizo el poder restablecer<br> 
                y validar un usuario y contraseña atreves del envió de un correo electrónico.<br> 
                Contamos con 2 opciones al inicio del programa el de iniciar sesión y registrarnos para poder ingresar.
             </p>

             <a class="analizador-1">
                <img src="./images/login.jpg" alt="imagen" class="imagen-estilo"></a>

                <a href="https://github.com/DanielOrlandoMV/Inicio-de-sesi-n.git" class="REP-1" target="_blank">Ver Repositorio</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>



            </body>
      <footer>
         <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
         Todos los derechos reservados.</p>
      </footer>
</html>