<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

{{> header}}

             <h1 class="titulo33">Login con Correo</h1>

             <p class="descripcion33">
                En el desarrollo de este formulario para el inicio de sesión en una universidad se priorizo el poder restablecer<br> 
                y validar un usuario y contraseña atreves del envió de un correo electrónico.<br> 
                Contamos con 2 opciones al inicio del programa el de iniciar sesión y registrarnos para poder ingresar.
             </p>

             <a class="analizador-1">
                <img src="./images/login.jpg" alt="imagen" class="imagen-estilo"></a>

                <iframe class="videoY" width="560" height="315" src="https://www.youtube.com/embed/d_iW7V3R9wQ?si=NF3Hu9yO2Ky2CDIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://github.com/DanielOrlandoMV/Inicio-de-sesi-n.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>



            </body>

{{> footer}}

</html>