<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/objetivos.css">
    <title>Contacto</title>
</head>
<body>

{{> header}}

    <h1 class="tituloObjetivos">OBJETIVOS</h1><br><br><br><br><br>
           
    <p class="descripcionObjetivos">
        Poder dominar los lenguages de programación mas importantes que existen.<br><br>
        Me gustaria poder desempeñarme en un entorno de trabajo profecional. <br><br>
        Expander mis conocimientos en el area de administracion de proyectos<br><br>
        Ser parte de una empresa prestigiosa y poder extender mis conocimientos<br><br>
        Trabajar en el extranjero o de manera remota <br><br>

     </p>

     <a href="/" class="proyects">INICIO</a>

{{> footer}}

</body>
</html>