<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>


    <header>
      <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br> PORTAFOLIO</h1>

      <img src="./images/foto.jpeg" class="img-header">
   </header>

             <h1 class="titulo00">Pac Man Java</h1>

             
             <p class="descripcion"> Este proyecto se desarrolló en el lenguaje de java NetBeans un juego clásico el cual<br> 
                es un videojuego arcade creado de la empresa Namco esta versión tiene un menú con tres opciones<br>
                El de Start comienza directamente el juego con el personaje amarillo y los 4 fantasmas<br>
                Un apartado de marcador<br>
                Uno de Exit para salir.
             </p>

             <a class="analizador-1">
                <img src="./images/pacman.jpg" alt="imagen" class="imagen-estilo"></a>

                <a href="https://github.com/DanielOrlandoMV/PacMan.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>

            </body>
            <footer>
               <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
                   Todos los derechos reservados.</p>
           </footer>
</html>