<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

{{> header}}

             <h1 class="titulo22">Pac Man Java</h1>

             
             <p class="descripcion22"> Este proyecto se desarrolló en el lenguaje de java NetBeans un juego clásico el cual<br> 
                es un videojuego arcade creado de la empresa Namco esta versión tiene un menú con tres opciones<br>
                El de Start comienza directamente el juego con el personaje amarillo y los 4 fantasmas<br>
                Un apartado de marcador<br>
                Uno de Exit para salir.
             </p>

             <a class="analizador-1">
                <img src="./images/pacman.jpg" alt="imagen" class="imagen-estilo"></a>

                <iframe class="videoY" width="560" height="315" src="https://www.youtube.com/embed/z104inR3ihk?si=XotnDGdoO6Z2vb0t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://github.com/DanielOrlandoMV/PacMan.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>

            </body>

{{> footer}}

</html>