<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/proyectos.css">
    <title>Contacto</title>
</head>
<body>

{{> header}}

    <h1 class="titulo00">Proyectos realizados</h1>

    <a href="/analizador" class="analizador">
        <img src="./images/analizador.jpg" alt="Analizador Lexico" class="imagen-estilo"></a>
        <h1 class="proyect1">ANALIZADOR LEXICO</h1>

        <a href="/pacman" class="pacman">
            <img src="./images/pacman.jpg" alt="pacman" class="imagen-estilo"></a>
            <h1 class="proyect2">PAC MAN</h1>

            <a href="/login" class="login">
                <img src="./images/login.jpg" alt="login" class="imagen-estilo"></a>
                <h1 class="proyect3">LOGIN USANDO CORREO</h1>

            
                <a href="/calculadora" class="calculadora">
                    <img src="./images/calculadora.jpg" alt="calculadora" class="imagen-estilo"></a>
                    <h1 class="proyect4">CALCULADORA</h1>

            
                    <a href="/taca" class="taca">
                        <img src="./images/taca.png.jpg" alt="login" class="imagen-estilo"></a>
                        <h1 class="proyect5">SISTEMA AEROLINEA</h1>
                    
                        <a href="/veterinaria" class="veterinaria">
                        <img src="./images/veterinaria.jpg" alt="login" class="imagen-estilo"></a>
                        <h1 class="proyect6">SISTEMA VETERINARIA</h1>
            
                            <a href="/so" class="SO">
                            <img src="./images/SO.jpg" alt="login" class="imagen-estilo"></a>
                            <h1 class="proyect7">ADMINISTRADOR SO</h1>

     <a href="/" class="proyects">INICIO</a>

{{> footer}}

</body>
</html>