<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

    <header>
      <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br> PORTAFOLIO</h1>

      <img src="./images/foto.jpeg" class="img-header">
   </header>

             <h1 class="titulo00">Administrador Sistema</h1>

             <p class="descripcion"> Este proyecto desarrollado en Visual Studio C++ se creó como un controlado de procesos y controlador de<br>
                apartados de importancia sobre el sistema operativo y hardware contamos con una pantalla donde se encuentran los distintos<br>
                procesos basicos que gestiona como identificar datos del SO, Hardware, Redes, también el controlador de procesos<br>
                que permite a los usuarios crear, gestionar y monitorear procesos el controlador de memoria se encarga  <br>
                de la asignación y liberación de memoria para dichos procesos.
             </p>

             <a class="analizador-1">
                <img src="./images/SO.jpg" alt="imagen" class="imagen-estilo"></a>

                <a href="https://github.com/DanielOrlandoMV/SO.git" class="REP-1" target="_blank">REPOSITORIO</a>

                
               <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>
    

            </body>
            <footer>
               <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
                   Todos los derechos reservados.</p>
           </footer>
</html>