<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>


{{> header}}

             <h1 class="titulo55">Control de Aerolinea</h1>

             <p class="descripcion55"> Este proyecto es un sistema para el control en una aerolínea que se definio como TACA<br>
                contaremos con el ingreso al menú como pantalla principal.<br>
                Una vez ingresado tendremos cuatro opciones de utilidad como lo son el registro de los pasajeros que estarán utilizando el servicio<br>
                también el apartado vuelos donde podremos ver los vuelos con sus pasajeros, horarios de salida, llegada y el destino<br>
                en el apartado de aerolínea se podrá visualiza los horarios de los vuelos y en tiket los distintos tikets de los pasajeros.

             </p>

             <a class="analizador-1">
                <img src="./images/taca.png.jpg" alt="imagen" class="taca"></a>

                <a href="https://github.com/DanielOrlandoMV/Sistema-Aerol-nea.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="Proyectoss" class="boton-enlace-con">REGRESAR</a>


            </body>

{{> footer}}

</html>