<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

    <header>
        <h1 class="titulo1"> Daniel Orlando Muj Vasquez <br> PORTAFOLIO</h1>
  
        <img src="./images/foto.jpeg" class="img-header">
     </header>


             <h1 class="titulo00">Veterinaria</h1>

             <p class="descripcion"> Este proyecto fue realizado a nivel de c칩digo sin contar con el uso de formularios o alguna otra<br> 
                 herramienta visual, este sistema esta enfocado en una veterinaria donde se pueden realizar registros de mascotas, <br>
                 due침os y ventas las cuales tiene una estructura de PILA y COLA, listados simplemente enlazada, doblemente enlazada y lista<br>
                 circular adem치s de contar con un apartado donde se tiene el ordenamiento de 치rbol ABB y AVL.
             </p>

             <a class="analizador-1">
                <img src="./images/veterinaria.jpg" alt="veterinaria" class="imagen-estilo"></a>

                <a href="https://github.com/DanielOrlandoMV/Ordenamiento-Veterinaria.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>

            </body>
            <footer>
                <p>&copy; 2024 Daniel Orlando Muj Vasquez. <br>
                    Todos los derechos reservados.</p>
            </footer>
</html>