<!DOCTYPE html>
<html lang="es">
<head>-
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Orlando MV</title>
    <link rel="stylesheet" href="./CSS/programs.css">
</head>

<body>

{{> header}}


             <h1 class="titulo66">Veterinaria</h1>

             <p class="descripcion66"> Este proyecto fue realizado a nivel de c칩digo sin contar con el uso de formularios o alguna otra<br> 
                 herramienta visual, este sistema esta enfocado en una veterinaria donde se pueden realizar registros de mascotas, <br>
                 due침os y ventas las cuales tiene una estructura de PILA y COLA, listados simplemente enlazada, doblemente enlazada y lista<br>
                 circular adem치s de contar con un apartado donde se tiene el ordenamiento de 치rbol ABB y AVL.
             </p>

             <a class="analizador-1">
                <img src="./images/veterinaria.jpg" alt="veterinaria" class="imagen-estilo"></a>

                <iframe class="videoY" width="560" height="315" src="https://www.youtube.com/embed/C3xkPF7sx7c?si=wVCv2sG7wxbAD3Pe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://github.com/DanielOrlandoMV/Ordenamiento-Veterinaria.git" class="REP-1" target="_blank">REPOSITORIO</a>

                <a href="/Proyectoss" class="boton-enlace-con">REGRESAR</a>

            </body>

{{> footer}}

</html>