body {
  background-image: url('../images/header.jpg');

      border-radius: 0%;
      margin: 0; /* Elimina márgenes por defecto */
      padding: 0; /* Elimina el relleno por defecto */
      font-family: 'Arial', sans-serif; /* Tipografía legible */
      line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
      color: #333; /* Color del texto, generalmente un gris oscuro */
}

header {
  background: linear-gradient(90deg,#003366, #005f99, #0080ff );
  color: white;
  text-align: center;
  border-radius: 0%;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.img-header {
  position: absolute;
  top: 45px;
  right: 35px;
  width: 110px;
  height: auto;
  border-radius: 50%;
}

.img-header:hover {
  transform: scale(1.1);
}

/*--------------------------------------------*/
.titulo11{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 175px;
  left: 585px;

}

.descripcion11{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 230px;
  left: 170px;  
}

/*--------------------------------------------*/
.titulo22{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 175px;
  left: 615px;

}

.descripcion22{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 230px;
  left: 250px;  
}

/*--------------------------------------------*/
.titulo33{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 185px;
  left: 595px;

}


.descripcion33{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 245px;
  left: 220px;  
}

/*--------------------------------------------*/
.titulo44{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 185px;
  left: 595px;

}


.descripcion44{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 245px;
  left: 200px;  
}

/*--------------------------------------------*/
.titulo55{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 185px;
  left: 565px;

}

.descripcion55{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 245px;
  left: 140px;  
}

/*--------------------------------------------*/
.titulo66{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 185px;
  left: 635px;

}

.descripcion66{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 245px;
  left: 140px;  
}
/*--------------------------------------------*/
.titulo77{
  font-size: 30px;
  color: #0055ff;
  text-decoration: underline;
  position: absolute;
  top: 180px;
  left: 565px;

}

.descripcion77{
  font-size: 20px;
  color: #ddeaec; 
  background-color: #4582b4; 
  box-shadow: 5px 5px 15px rgb(0, 110, 255);
  padding: 10px; 
  border-radius: 5px; 
  display: inline-block;
  position: absolute;
  top: 245px;
  left: 140px;  
}

.analizador-1 img {
  width: 350px; 
  height: auto;  
  display: block; 
  position: absolute; 
  top: 450px; 
  left: 345px; 
}

.videoY{
  width: 500px; 
  position: absolute; 
  top: 450px; 
  left: 735px; 

}

.taca img {
  width: 50px; 
  height: auto;  
  display: block; 
  position: absolute; 
  top: 450px; 
  left: 545px; 
}

/*-----------------------------------------*/

.boton-enlace-con{
  background-color: #1457bb;
  color: white; 
  border: none; 
  position: absolute;
  top: 812px;
  left: 725px;  
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px; 
  border-radius: 5px; 
}

.boton-enlace-con:hover {
  transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}

.REP-1{
  background-color: #1457bb;
  color: white;
  border: none; 
  position: absolute;
  top: 815px;
  left: 570px;  
  padding: 10px 20px;
  display: inline-block; 
  font-size: 16px;
  border-radius: 5px; 
  text-decoration: none; 
}

.REP-1:hover {
  transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}

footer {
  top: 700px;
  background: linear-gradient(90deg, #0080ff, #005f99, #003366);
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}